fastapi # Me sinto mais confortável com FASTAPI que utilizo diariamente no trabalho
uvicorn # Uvicorn para gerenciar threads
sqlalchemy # Sql Alchemy para facilitar gerenciamento programável do BD
pymysql # Modulo do MySQL para python
python-multipart # Facilita genrenciamento de ASGI
passlib[bcrypt] # hash's de senhas(versão específica do Bycript)
bcrypt==3.2.2 # especifica versão do Bcript para garantir compatibilidade de metodos da lib